
#layoutSidenav_content{
   
}

#img_thecity{
    width:70%;
    margin: 0 auto;
}

.title_loichao{
    font-weight: normal;
    font-family: 'Lobster', cursive;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;align-items: center;
    text-align: center;
    
}

#title_loichao_chuyentrang{
    display: inline-block;
    text-decoration: none;


}

/* trang đn 02 */
.logo_img {
    width: 50%;
}

.phan_dangnhap{
    width:30%;
    /*  */
    margin-top: 150px;
    font-weight: 600;
}

.phan_dangnhap h6{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: rgb(152, 89, 17)
}

.phan_dangnhap button{
    height: 60px;
}

#submit_from_dangnhap{
    height:auto;
}

img {
    object-fit: contain;
}