table, th, td, tr {
    border: 1px solid #cccc;
    text-align: center;
    padding-top:5px; padding-bottom:5px
}

thead {
    background-color: rgb(251, 226, 125);
}

#th_biensopt{
    width: 100px;
}

#th_loaipt {
    width: 150px;
}

#th_ngayvipham{
    width: 230px;
}

.xemchitiet {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.xemchitiet:hover {
    color: green
};


#th_biensopt{
    width: 200px;
}

#th_thoigian {
    width: 200px;
}

#th_diadiem{
    width: 150px;
}

#th_trangthai{
    width: 100px;
}

.xemchitiet {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.xemchitiet:hover {
    color: green
};

#input {
    
}

.trangthai_duyet {
    margin: 0 auto;
}
 
 